<h1>Tạo link ngắn</h1>

<%= form_with model: @short_link do |f| %>
  <div>
    <%= f.label :original_url, "Nhập URL gốc" %><br>
    <%= f.text_field :original_url, placeholder: "https://example.com/abc", class: "form-control" %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.submit "Tạo link", class: "btn btn-primary" %>
  </div>
<% end %>

<% if @short_link.errors.any? %>
  <div style="color: red;">
    <h4>Có lỗi xảy ra:</h4>
    <ul>
      <% @short_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
